.venv/

src/__pycache__/

**/__pycache__/
.pytest_cache/

*.xlsx
*.pyc
*.xlsm
*.xlsx
*.log
*.log
*.xls

test/data
log/
.mypy_cache/
.idea/

.env


.coverage
.coveragerc


output/
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
