[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"
codecov = "*"
pytest = "*"
ipython = "*"
matplotlib = "*"
pylint = "*"
coverage = "*"
pytest-cov = "*"
autopep8 = "*"
black = "*"
mypy = "*"
pipx = "*"
hypothesis = "*"
psycopg2-binary = "*"
pymssql = "*"
sqlalchemy = "==1.2.18"

[packages]
pandas = "*"
pyyaml = "*"
numpy = "*"
six = "*"
cython = "*"
xlrd = "*"
python-dotenv = "*"
python-levenshtein = "*"
geopandas = "*"
shapely = "*"
fuzzywuzzy = "*"
click = "*"
fsec = {editable = true,path = "."}
colorama = "*"
spacy = "*"
alembic = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
